<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body>
    {% for msg in messages%}
        {{ msg }}
    {% endfor %}

    <div class="w-full h-screen bg-gray-100 flex justify-center items-center">
        <div class="lg:w-1/3 2xl:w-1/4 p-10 bg-white">
          <h1 class="text-center text-3xl font-bold py-5">Welcome to <span class="text-rose-300">HEY</span></h1>
            <div class="space-y-5">
              <h1 class="text-xl font-semibold">Log In</h1>
                <form method="POST" class="flex flex-col space-y-5" id="post-form" action="{% url 'gohome' %}">

                {% csrf_token %}

              <input type="text" name="email_log" placeholder="Email" required class="outline-0 px-5 py-2 bg-gray-100">
              <input type="password" name="password_log" placeholder="Password" required class="outline-0 px-5 py-2 bg-gray-100">
              
                <div class="flex justify-between items-center">
                  <div class="flex items-center space-x-2">
                    <input type="checkbox" name="id">
                    <p class="text-sm">Remember me</p>
                  </div>
                    <a href="#" class="text-sm">forget password?</a>
                </div>
              <button type="submit" class="p-2 bg-rose-300 text-xl text-black font-bold rounded-md drop-shadow-md hover:bg-rose-400">Log In</button>
              
            </form>
            
          </div>
        </div>
      </div>
</body>
